.form-control:focus {
    border-color: #212529;
    box-shadow: none;
}

.form-select:focus {
    border-color: #212529;
    box-shadow: none;
}

.accordion-button:has(.collapsed) {
    background-color: white;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #212529;
    color: white;
}

.accordion-button:focus {
    color: white;
    background-color: #212529;
    box-shadow: none;
}

.form-check-input:focus {
    border-color: #212529;
    box-shadow: none;
}

.form-check-input:checked {
    background-color: #212529;
    border-color: #212529;
    box-shadow: none;
}

.dropdown-item:focus,
.dropdown-item:active,
.dropdown-item.active {
    background-color: #212529;
}

.nav-tabs .nav-link {
    color: #212529;
}

@media screen and (min-width: 640px) {
    .modal-90w {
        max-width: none;
        width: 90%;
    }
}